# Dating Algorithm Recommender System

In [23]:
# libraries
import pandas as pd
import random
import numpy as np

# Creating Data

In [24]:
# Creating a Dataset of men and women
men = pd.DataFrame()

women = pd.DataFrame()

# Number of users
num = 1000

# Dating profile questions for each
qs = ['Q1', 'Q2', 'Q3', 'Q4', 'Q5']

for q in qs:
    men[q] = random.choices(range(10,50,10), k=num)
    
    women[q] = random.choices(range(10,50,10), k=num)
    
    # IDs
    men['id'] = ["m"+str(i) for i in range(num)]
    
    women['id'] = ["w"+str(i) for i in range(num)]
    
# Setting index
men.set_index('id', inplace=True)

women.set_index('id', inplace=True)

In [31]:
# Creating match ratings between users
ratings = pd.DataFrame(index=men.index, columns=women.index)

for i in ratings.columns:
    ratings[i] = random.choices(range(0,6), k=num)
    
ratings

id,w0,w1,w2,w3,w4,w5,w6,w7,w8,w9,...,w990,w991,w992,w993,w994,w995,w996,w997,w998,w999
id,,,,,,,,,,,,,,,,,,,,,
m0,1,0,3,2,4,2,0,3,0,3,...,3,2,3,5,4,2,4,2,3,2
m1,0,2,2,5,0,5,0,1,0,3,...,1,1,3,5,3,1,3,5,4,5
m2,4,3,2,0,0,3,3,0,1,3,...,5,0,5,3,4,4,0,4,3,4
m3,1,0,5,2,5,1,2,3,3,1,...,0,3,1,2,5,5,3,2,1,4
m4,4,3,4,2,2,3,0,4,2,1,...,5,5,0,3,1,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
m995,4,2,1,1,1,3,3,4,0,2,...,1,3,4,5,0,0,3,3,2,1
m996,5,1,2,3,2,5,1,2,5,3,...,1,5,0,1,1,2,5,2,5,1
m997,1,5,5,5,2,1,3,2,0,2,...,0,1,4,2,3,5,5,1,0,5
m998,5,5,1,3,0,5,5,0,0,0,...,0,0,1,3,5,4,1,4,1,5
m999,5,5,0,4,4,4,3,2,0,1,...,3,5,3,2,4,4,5,2,2,3

# Finding Similar Users

### Users who had the most 0 ratings
Meaning they haven't seen the other person yet

In [54]:
# Which user had the most 0 ratings?
ratings.T.apply(pd.Series.value_counts).T.sort_values(by=0, ascending=False).iloc[0]

0    204
1    179
2    158
3    147
4    149
5    163
Name: m111, dtype: int64

In [55]:
ratings.apply(pd.Series.value_counts).T.sort_values(by=0, ascending=False).iloc[0]

0    206
1    170
2    145
3    157
4    162
5    160
Name: w412, dtype: int64

## Top 10 Matches

In [63]:
men.T.corrwith(men.T['m111']).sort_values(ascending=False)[1:11]

id
m971    1.000000
m372    0.943456
m57     0.943456
m624    0.941742
m595    0.931552
m211    0.930261
m332    0.930261
m272    0.923077
m747    0.923077
m996    0.920737
dtype: float64

In [66]:
women.T.corrwith(women.T['w412']).sort_values(ascending=False)[1:11]

id
w97     1.000000
w141    0.943242
w707    0.943242
w753    0.943242
w506    0.943242
w348    0.943242
w450    0.918559
w223    0.918559
w260    0.918559
w382    0.912871
dtype: float64